<!DOCTYPE html>
<html>
  <head>
    <title>玻璃心選物</title>

    <meta charset="utf-8" />
    <meta
      name="description"
      content="玻璃心選物，為您精選每一份美好，為生活增添一點美好。"
    />
    <meta name="keywords" content="玻璃心選物,選物店,線上選物店,餐具,餐廚" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-D5CHNV7JRX"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-D5CHNV7JRX");
    </script>
    <!-- Google tag (gtag.js) -->
    <!-- Clarity -->
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "ovwjizitxa");
    </script>
    <!-- Clarity -->
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="/static/logo_white.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/static/logo_white.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/logo_white.svg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/logo_white.svg"
    />
    <link rel="icon" type="image/ico" href="/static/logo_white.svg" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
